<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.example.vinilos.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nav_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vinilos">
        <activity
            android:name="com.example.vinilos.ui.main.view.CreateProjectActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.ProjectModuleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.RegisterSkillInformationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.RegisterVocationalInformationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.RegisterEmploymentInformationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.RegisterPersonalInformationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.CompanyPortalActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.CandidatePortalActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.CompanyRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.UserRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.SelectProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.AlbumTrackActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.DetailCollectorActivity"
            android:exported="false"
            android:parentActivityName="com.example.vinilos.ui.main.view.ListProjectActivity"
            android:theme="@style/Theme.Vinilos.NoActionBar" />
        <activity
            android:name="com.example.vinilos.ui.main.view.ListProjectActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.vinilos.ui.main.view.DetailAlbumActivity"
            android:exported="false"
            android:parentActivityName="com.example.vinilos.ui.main.view.ListProjectActivity"
            android:theme="@style/Theme.Vinilos.NoActionBar" />
        <activity
            android:name="com.example.vinilos.ui.main.view.DetailArtistActivity"
            android:exported="false"
            android:parentActivityName="com.example.vinilos.ui.main.view.ListProjectActivity"
            android:theme="@style/Theme.Vinilos.NoActionBar" />
        <activity
            android:name="com.example.vinilos.ui.main.view.CreateAlbumActivity"
            android:exported="false"
            android:parentActivityName="com.example.vinilos.ui.main.view.ListProjectActivity"
            android:theme="@style/Theme.Vinilos.NoActionBar" />
        <activity
            android:name="com.example.vinilos.ui.main.view.MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>